/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header Styling */
header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;

}
header h1 {
    margin: 0;
    font-size: 24px;
}
nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

/* Product Section Styling */
.products {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.product {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    text-align: center;
    width: 300px;
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

/* Footer Styling */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
